
td {
  height: 50px;
  width: 50px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

table {
  border-collapse: collapse;
}

.fire_missiles {
  background-color: blue;
}

.ship {
  background-color: red;
}
